<template>
  <div class="container">
    <div class="col-xl-12 registry-body">
      <div class="row justify-content-center">
        <h3 class="col-lg-7 col-md-10 col-12 text-center mb-4">
          Пройдите регистрацию и начните пользоваться
          сервисом прямо сейчас
        </h3>
      </div>
      <div class="row justify-content-center">
        <form class="justify-content-center col-6">
          <div class="mb-4">
            <div class="form-control">
              <label for="exampleInputEmail1">Логин</label>
              <input
                class="form-control"
                type="email"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="example@gmail.com"
                v-model="login"
                @change="changes()"
                required
              />
            </div>
            <small id="emailHelp" class="form-text text-muted">Введите адрес электронной почты</small>
          </div>
          <div class="form-control bl-pass">
            <label for="exampleInputPassword1">Пароль</label>
            <input
              :type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Введите пароль"
              v-model="Password"
              @change="changes()"
              required
            />
            <button type="button" class="eye" @click="changeType">
              <span class="fas fa-eye"></span>
            </button>
            <button type="button" class="question">
              <i class="far fa-question-circle"></i>
            </button>
          </div>
          <div class="form-control not-label">
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword2"
              placeholder="Повторить пароль"
              v-model="twoPassword"
              @change="changes()"
              required
              ref="repeatedPasswordEl"
            />
          </div>
          <div class="form-control">
            <label>Фамилия</label>
            <input
              class="form-control"
              type="text"
              placeholder="Введите фамилию"
              v-model="firstName"
              @change="changes()"
              required
            />
          </div>
          <div class="form-control">
            <label>Имя</label>
            <input
              class="form-control"
              type="text"
              placeholder="Введите имя"
              v-model="name"
              @change="changes()"
              required
            />
          </div>
          <div class="form-control not-label">
            <input class="form-control" type="text" placeholder="Отчество (необязательно)" />
          </div>
          <div class="form-control">
            <label>Телефон</label>
            <input
              class="form-control"
              type="phone"
              placeholder="Введите телефон"
              v-model="phone"
              @change="changes()"
              required
            />
          </div>

          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck1"
              v-model="check"
              @change="changes()"
              required
            />
            <label class="custom-control-label" for="customCheck1">
              Вы соглашаетесь с
              <a href="#">условиями использования сервиса</a>
            </label>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn submit" :disabled="disabled">Зарегистрироваться</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      login: "",
      password: "password",
      Password: "",
      twoPassword: "",
      firstName: "",
      name: "",
      phone: "",
      check: false,
      disabled: true,
      active: false
    };
  },
  watch: {
    twoPassword: "checkPasswordsEquality",
    password: "checkPasswordsEquality"
  },
  methods: {
    checkPasswordsEquality() {
      const { password, twoPassword } = this;
      const { repeatedPasswordEl } = this.$refs;

      if (password !== twoPassword) {
        repeatedPasswordEl.setCustomValidity("Пароли должны совпадать");
      } else {
        repeatedPasswordEl.setCustomValidity("");
      }
    },
    changes() {
      if (
        this.login.trim() &&
        this.Password.trim() &&
        this.twoPassword.trim() &&
        this.firstName.trim() &&
        this.name.trim() &&
        this.phone.trim() &&
        this.check == true
      ) {
        this.disabled = false;
      } else {
        this.disabled = true;
      }
    },
    changeType() {
      if (this.password == "password") {
        this.password = "text";
      } else {
        this.password = "password";
      }
    }
  }
};
</script>


<style scoped>
.registry-body {
  background: #fdfdfd;
  padding: 55px;
  margin: 63px 0;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(31, 69, 107, 0.58);
}
h3 {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 30px;
}
form {
  max-width: 460px;
}
.invalid-feedback {
  display: block;
  font-size: 12px;
  padding-left: 12px;
}
#emailHelp {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 12px;
  margin-bottom: 20px;
}
label {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0;
  padding-left: 12px;
}

div.form-control {
  height: 56px;
  padding: 0;
  margin-bottom: 40px;
  max-width: 429px;
}

div.form-control:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.38);
  cursor: pointer;
}
div.form-control:first-child {
  margin-bottom: 0;
}
div.form-control:focus-within {
  border-bottom: 2px solid #6202ee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
div.form-control:focus-within label {
  color: #6202ee;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
div.form-control.not-label {
  padding: 16px 0;
}
input[type="text"],
input[type="email"],
input[type="phone"] {
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
}
.form-control {
  height: auto;
  background: #e8e8e8;
  border-radius: 0;
  border: 0;
  padding: 0 12px;
}
.form-control:focus {
  background: #e8e8e8;
  box-shadow: none;
}
.custom-control-label {
  padding-top: 3px;
  margin-bottom: 30px;
  font-size: 16px;
}
a {
  color: #1976d2;
}
button.submit {
  background: #4054b2;
  width: 328px;
  height: 56px;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
button.submit:hover {
  background: #5f74d4;
}
button.submit:disabled {
  background: rgba(64, 84, 178, 0.2);
  color: #fff;
}
.bl-pass {
  position: relative;
}
.eye {
  position: absolute;
  right: 13px;
  top: 20px;
  border: 0;
  background: transparent;
  color: rgba(0, 0, 0, 0.54);
  outline: none;
}
.question {
  position: absolute;
  right: -38px;
  top: 20px;
  border: 0;
  background: transparent;
  color: rgba(0, 0, 0, 0.54);
  outline: none;
}

@media (max-width: 576px) {
  .container {
    padding: 0;
  }
  .registry-body {
    margin: 0;
    border-radius: 0;
    padding: 15px;
  }
  h3 {
    font-size: 24px;
    margin: 30px;
  }
  div.form-control {
    max-width: 346px;
  }
  .question {
    display: none;
  }
}
</style>